<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">today's cooking</a></h1>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        Copyright OriginalApp2 2022.
      </p>
    </footer>
  </body>
</html>
